
<div class="container item">
    <h2 class="titles">People</h2>
    <div class="center">
        <button class="btn btn-warning" (click)="onHideAllPeople()">Hide all</button>
        <button class="btn btn-warning" (click)="onShowAllPeople()">Show all</button>
    </div>
    

    <div *ngFor="let person of results">
        <div class="img"></div>
        <h5 [title]="person.name">
            {{ person.name }} 
        </h5>
        <div>
            <p>Hair color: {{ person.hair_color }}<br>
                Gender: {{ person.gender }}
            </p>
        </div>
        <hr>
    </div>
</div>
