<div class="componentHeaders">
    <h2 class="titles">People</h2>
    <div class="center">
        <button class="btn btn-warning btn-small" (click)="onHideAllPeople()">Hide all</button>
        <button class="btn btn-warning btn-small" (click)="onShowAllPeople()">Show all</button>
    </div>
</div>  
<div class="container item">
    <div *ngFor="let person of results">
        <div class="img"></div>
        <h5 ngClass="titleClass" [title]="person.name">
            {{ person.name }} 
        </h5>
        <div>
            <p>
                <strong>Gender:</strong> {{ person.gender }}<br>
                <strong>Hair color:</strong> {{ person.hair_color }}<br>
                <strong>Skin color:</strong> {{ person.skin_color }}<br>
                <strong>Eye color:</strong> {{ person.eye_color }}<br>
            </p>
        </div>
        <hr>
    </div>
</div>
