
<div class="star-wars-intro">

    <!-- Blue Intro Text -->
    <p class="intro-text">
      A few days ago, during...
    </p>
  
    <!-- Logo Image or Text goes in here -->
    <h2 class="main-logo">
      <img src="../../../assets/star-wars-intro.png">
    </h2>
  
    <!-- All Scrolling Content Goes in here -->
    <div class="main-content">
  
      <div class="title-content">
        <p class="content-header">MEMORIAL SLOAN KETTERING<br/>Cancer Center</p>
  
        <br>
  
        <p class="content-body">
          After years of galactic silence, civilization is on the brink of a new Star Wars release. 
          Now, with the Force preparing to awaken, the people of Earth seek Cancer Care at 
          Memorial Sloan Kettering, our specialists treat every type of cancer, including the most important one: yours..
        </p>
          
      </div>
    </div>
  </div>
