
body {
    height: 100%;
    min-height: 100vh;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-image: url('./assets/sw_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    padding: 20px;    
}
.componentHeaders {
    margin-top:100px;
    /* background-color: rgba(245, 240, 240, 0.735); */
}
.navbar-brand {
    margin-right: 5rem;
}
.bg-dark {
  background-color: #0a0e13!important;
}
[title]:hover {
    cursor: pointer;
}
.center {
    text-align: center;
}
button {
    margin: 20px 50px;
}
.item {
    height: auto;
    background-color: rgba(245, 240, 240, 0.735);
    border-radius: 8px;
}
.titles {
    text-align: center;
    text-transform: uppercase;
    color: rgb(43, 17, 17);
    /* background: #333333; */
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
.titleClass {
    color: green;
}

@media screen and (max-width: 600px) {
    body {
        background-image: url('./assets/sw_background_mobile.jpg');
        background-repeat: no-repeat;
        background-size: auto;
    }
    button {
        margin: 20px 20px;
    }
    .componentHeaders {
        margin-top:200px;
    }
    
}